# =====================
# Database
# =====================
DB_HOST=mysql
DB_PORT=3306
DB_NAME=smarttransit
DB_USER=root
DB_PASSWORD=root

# =====================
# RabbitMQ
# =====================
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# =====================
# MQTT
# =====================
MQTT_HOST=mosquitto
MQTT_PORT=1883

# =====================
# JWT
# =====================
JWT_SECRET=super_secret_key_change_this

# =====================
# Service URLs
# =====================
GATEWAY_URL=http://gateway:3000
OAUTH_URL=http://oauth:3002
CITIZEN_URL=http://citizen-service:8000
TRAFFIC_URL=http://traffic-service:8001
ENVIRONMENT_URL=http://environment-service:8002
ML_URL=http://python-ml:5000