# App
APP_ENV=development
APP_PORT=8001

# Database
DB_HOST=mysql
DB_PORT=3306
DB_NAME=smarttransit
DB_USER=root
DB_PASS=secret

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/

#API gateway
GATEWAY_URL=http://api-gateway:3000