APP_ENV=development
APP_PORT=8002

DB_HOST=mysql
DB_PORT=3306
DB_NAME=smart_transport
DB_USER=root
DB_PASS=rootpass

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

PASSENGER_OVERCROWDED_THRESHOLD=40
PASSENGER_FULL_THRESHOLD=60
TEMP_HOT_THRESHOLD=30
TEMP_DANGER_THRESHOLD=35