# Server Configuration
PORT=
JWT_SECRET=

# Target Services URL 
OAUTH_SERVICE_URL=http://localhost:3002

# Target Services URL 
CITIZEN_SERVICE_URL=
TRAFFIC_SERVICE_URL=
ENVIRONMENT_SERVICE_URL=
PYTHON_ML_URL=

# Google OAuth Credentials 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=