DB_HOST=mysql
DB_PORT=3306
DB_NAME=smarttransit
DB_USER=root
DB_PASSWORD=root

JWT_SECRET=super_secret_key_change_this
APP_DEBUG=true

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
