DB_HOST=localhost
DB_PORT=3306
DB_NAME=smarttransit
DB_USER=root
DB_PASSWORD=secret

JWT_SECRET=rahasia123
APP_DEBUG=true

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest