# Server Configuration
PORT=3002

# JWT
JWT_SECRET=super_secret_key_change_this
JWT_REFRESH_SECRET=super_secret_refresh_key_change_this

# Database Configuration
DB_HOST=mysql
DB_USER=root
DB_PASSWORD=root
DB_NAME=smarttransit

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
